<div class="wrapper">
        <div class="sidebar" data-background-color="green" data-active-color="danger">
            <sidebar-cmp></sidebar-cmp>
        </div>
        <div class="main-panel">
            <navbar-cmp></navbar-cmp>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                      
                        <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Exercise Duty</h4>
                                        <div class="category">List of your exercise duty.</div>
                                    </div>
                                    <br>
                                    <div class="content">
                                        <table class="table table-striped">
                                            <tr><th>Date of Issue</th><th>Amount Due</th><th>Status</th><th></th><th></th></tr>
                                            <tr><td>3 Mar 2018</td><td><del>N</del>25,000,000</td><td><span class="badge badge-danger">Not Paid</span></td><td><a href="">View Invoice</a></td><td><a href="">Make Payment</a></td></tr>
                                            <tr><td>5 Mar 2018</td><td><del>N</del>5,000,000</td><td><span class="badge badge-success">Paid</span></td><td><a href="">View Invoice</a></td><td></td></tr>
                                        </table> 
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>