.signup {
    margin: 0px;
    background-color: #274152;
    height: 735px;
  }


.s_form {
    margin-top:80px;
    height: 550px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 37%;
    font-size: 16px;
    box-shadow: 5px 10px 10px #222;
}

h1 {
    margin: 20px 0 30px 0;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    color: #12326b;
    text-align: center;
}

.form_details {
    display: flex;
    flex-direction: column;
  }

  .form_details > * {
      width: 100%;
  }

  .warning {
      color: blue;
  }

  button.mat-raised-button.mat-primary {
    font-size: 12px !important;
    padding: 2px !important;
    letter-spacing: 3px !important;
    border-radius: 5px !important;
    font-weight: bolder;
}

button.mat-raised-button.mat-warn {
    font-size: 12px !important;
    padding: 2px !important;
    letter-spacing: 3px !important;
    border-radius: 5px !important;
    font-weight: bolder;
}

.new_pad {
    margin-left: -26px !important;
}

.new_pad2 {
    margin-right: 10px !important;
    margin-top: 5px !important;
}


button.mat-button.mat-primary {
    color: white;
    font-size: 12px !important;
    padding: 2px !important;
    letter-spacing: 3px !important;
    border-radius: 5px !important;
    font-weight: bolder;
}

a.mat-button.mat-primary {
    color: white;
    font-size: 12px !important;
    padding: 2px !important;
    letter-spacing: 3px !important;
    border-radius: 5px !important;
    font-weight: bolder;
    text-decoration: none !important;
}

.bold {
    font-size: 16px;
    font-weight: bolder;
}

button.mat-raised-button {
    background-color: #2A6965;
}