coverage/
dist/
node_modules/
hooks/
platforms/
plugins/
www/
.idea
target
deploy.sh
*.apk
resources
*.apk
rc.txt
minor_version.txt
major_version.txt
nbproject
.DS_Store
.sourcemaps/
.vscode/
typings/
package-lock.json

