<div class="wrapper">
    <div class="sidebar" data-background-color="green" data-active-color="danger">
        <ocosidebar-cmp></ocosidebar-cmp>
    </div>
    <div class="main-panel">
        <oconavbar-cmp></oconavbar-cmp>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Upload Raw Material Registers</h4>
                      
                                <br>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="" class="form-control">
                                                Material Id
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <!--<div>
                                                <select name="" id="" class="form-control border-input">
                                                    <option value="1" disabled>Select Type of Register</option>
                                                    <option value="" *ngFor="let register of registers">{{register}}</option>
                                                </select>
                                            </div>-->
                                            <input type="text" class="form-control border-input" />

                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="" class="form-control">
                                                Material Name
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <input type="text" class="form-control border-input">

                                            </div>
                                        </div>
                                    </div>
                                   
                                   
                                    <!--<br><br>-->
                                    <!--<div class="row">
                                        <div class="col-md-4">
                                            <label for="" class="form-control">
                                                Officer's Comments
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <textarea name="" id="" cols="30" rows="10" class="form-control border-input"></textarea>
                                            </div>
                                        </div>
                                    </div>-->
                                    <br><br>
                                    <div class="text-center">
                                        <button class="btn btn-lg btn-success">Submit</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Upload Registry</h4>
                                <br>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="" class="form-control">
                                                Registry Type
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <select name="" id="" class="form-control border-input">
                                                    <option value="1" disabled>Select Type of Register</option>
                                                    <option value="" *ngFor="let register of registers">{{registry}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="" class="form-control">
                                                Material
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <select name="" id="" class="form-control border-input">
                                                    <option value="1" disabled>Select Type of Material</option>
                                                    <option value="" *ngFor="let register of registers">{{register}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="" class="form-control">
                                                Product Name
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <input type="text" class="form-control border-input">

                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <br />
                                  

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="" class="form-control">
                                                Quantity
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <input type="number" class="form-control border-input">

                                            </div>
                                        </div>
                                    </div><br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="" class="form-control">
                                                Reasion
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <input type="text" class="form-control border-input">

                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <!--<br><br>-->
                                    <!--<div class="row">
                        <div class="col-md-4">
                            <label for="" class="form-control">
                                Officer's Comments
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <textarea name="" id="" cols="30" rows="10" class="form-control border-input"></textarea>
                            </div>
                        </div>
                    </div>-->
                                    <br><br>
                                    <div class="text-center">
                                        <button class="btn btn-lg btn-success">Submit</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">

                        <div class="card">
                            <div class="header">
                                <h4 class="title">Search Register</h4>
                            </div>
                            <br>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="bank" class="form-control">Date</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div><input type="date" class="form-control border-input" placeholder="Enter Month"></div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="branch" class="form-control">Register Type</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            <select name="" id="" class="form-control border-input">
                                                <option value="1" disabled>Select Type of Register</option>
                                                <option value="" *ngFor="let register of registers">{{register}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="account" class="form-control">Factory Number</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div><input type="text" class="form-control border-input" placeholder="Enter Excise Factory Number"></div>
                                    </div>
                                </div>

                                <br>
                                <div class="text-center">
                                    <button class="btn btn-sm btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>