<div class="wrapper">
    <div class="sidebar" data-background-color="green" data-active-color="danger">
        <dcgsidebar-cmp></dcgsidebar-cmp>  
    </div>

    <div class="main-panel">
        <dcgnavbar-cmp></dcgnavbar-cmp>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card" style="background-color:#02A057 !important; color:white; font-weight:bolder;">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-archive"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Pending Requests</p>
                                            0
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card" style="background-color:#063281 !important; color:white; font-weight:bolder;">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-slice"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Ongoing Requests</p>
                                            0
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card" style="background-color:#1B8EE9 !important; color:white; font-weight:bolder;">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-receipt"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Provisional Approvals</p>
                                            0
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card" style="background-color:#B3028C !important; color:white; font-weight:bolder;">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-ticket"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Excise Trade Licences</p>
                                            0
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
        
        
                
                <div class="row">
        
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">NCS Command Details</h4>
                                <p class="category">Last Edited Profile</p>
                            </div>
                            <div class="content">
                                <br>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <div>
                                        <span class="icon-info"> <i class="ti-arrow-circle-right"></i></span>  Area Command: {{company_name}}
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div>
                                                <span class="icon-info"> <i class="ti-arrow-circle-right"></i></span> Zonal Command: {{rc_number}}
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-5">
                                            <div>
                                                    <span class="icon-info"> <i class="ti-arrow-circle-right"></i></span>   Location: {{location}}
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div>
                                                    <span class="icon-info"> <i class="ti-arrow-circle-right"></i></span>  Type: {{tin_number}}
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5">
                                                <div>
                                                        <span class="icon-info"> <i class="ti-arrow-circle-right"></i></span>   E-mail Address: {{email}}
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div>
                                                        <span class="icon-info"> <i class="ti-arrow-circle-right"></i></span>   Phone Number: {{phone_number}}
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                        <br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Provisional Approval</h4>
                                <p class="category">Last Granted Approval</p>
                            </div>
                            <div class="content">
                                <div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-9">
                                            <br>
                                            <br>
                                            <div>
                                                    <i class="fa fa-circle text-info"></i> Company Name:
                                            </div>
                                            <br><br><br>
                                            <div>
                                                    <i class="fa fa-circle text-danger"></i> Address:
                                            </div>
                                            <br><br><br>
                                            <div>
                                                    <i class="fa fa-circle text-warning"></i> Trade Type:
                                            </div>
                                            <br><br><br>
                                            <div>
                                                    <i class="fa fa-circle text-success"></i> Line of Product:
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>           
                                </div>
                                <br>                                                    
                                
                                <div class="footer">
                                    <div class="chart-legend"></div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Data Information certified by BlockChain Technology
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Entry of Premise</h4>
                                <p class="category">Newest Entry of Premise Request</p>
                            </div>
                            <div class="content">
                                <div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-9">
                                            <br>
                                            <br>
                                            <div>
                                                    <i class="fa fa-circle text-info"></i> Company Name:
                                            </div>
                                            <br><br><br>
                                            <div>
                                                    <i class="fa fa-circle text-danger"></i> Address:
                                            </div>
                                            <br><br><br>
                                            <div>
                                                    <i class="fa fa-circle text-warning"></i> Product Line:
                                            </div>
                                            <br><br><br>
                                            <div>
                                                    <i class="fa fa-circle text-success"></i> Request Date:
                                            </div>
                                            <br><br>
                                            <div class="text-center">
                                                    <button class="btn btn-sm btn-warning">Review Request</button>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>           
                                </div>
        
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>
</div>
