<div class="wrapper">
        <div class="sidebar" data-background-color="green" data-active-color="danger">
            <sidebar-cmp></sidebar-cmp>
        </div>
        <div class="main-panel">
            <navbar-cmp></navbar-cmp>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                    <div class="header">
                                            <h4 class="title">Licence Renewal</h4>
                                        </div>
                                        <br>
                                        <div class="content">
                                       
                                        <br>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Name of Business:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <input type="text" class="form-control border-input" placeholder=" Enter Name of Business" >
                                            </div>
                                         </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Registered Address:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <input type="text" class="form-control border-input" placeholder="Enter Registered Address" >
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Business Purpose:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <textarea name="" id="" cols="30" rows="4" class="form-control border-input" placeholder="Describe purpose of Business" ></textarea>
                                                    
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Business Description:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <textarea name="" id="" cols="30" rows="4" class="form-control border-input" placeholder="Describe your Business"></textarea>
                                                    
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Building Estimate:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <input type="number" class="form-control border-input" placeholder="Estimate Cost of Building" >
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Plants and Machinery:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <input type="number" class="form-control border-input" placeholder="Estimate cost of plants and machinery" >
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Goods Description:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <input type="text" class="form-control border-input" placeholder="Enter kinds of goods to be produced" >
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Factory Completion Date:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <input type="date" class="form-control border-input" placeholder="Enter date factory is expected to be ready for production">
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Raw Materials and Composition Formulae:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <textarea name="" id="" cols="30" rows="4" class="form-control border-input" placeholder="Enter materials to be used and composition of formulae"></textarea>
                                                    
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control form_details">Brand Names:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <textarea name="" id="" cols="30" rows="2" class="form-control border-input" placeholder="Product brand names"></textarea>
                                                    
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Brand labels and Images:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <input type="file" class="form-control border-input" placeholder="Enter labels and brand images" multiple>
                                                    
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                    <label class="form-control">Current Licence Number:</label>
                                            </div>
                                            <div class="col-md-8">
                                                    <input type="text" class="form-control border-input" placeholder="Enter licence number" multiple>
                                                    
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span><input type="checkbox" name="" id=""> I hereby declare that the foregoing account is true and I undertake to make no alteration to the premises, plant or equipment without prior approval of the Nigerian Customs Service.</span>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="text-center">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                    <button class="btn btn-lg btn-success">Submit</button>
                                            </div>
                                            <div class="col-md-4"></div>
                                        
                                    </div>
                                </div>
                                        <br>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="card">
                                        <div class="header">
                                                <h4 class="title">Current Licence Information</h4>
                                            </div>
                                            <br>
                                    <div class="content">
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4"><i class="fa fa-circle text-info"></i> Company Name:</div>
                                                <div class="col-md-7"></div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-4"><i class="fa fa-circle text-info"></i> Product Line:</div>
                                                    <div class="col-md-7"></div>
                                                </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-4"><i class="fa fa-circle text-info"></i> Licence Number:</div>
                                                    <div class="col-md-7"></div>
                                                </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-4"><i class="fa fa-circle text-info"></i> Expiry Date:</div>
                                                    <div class="col-md-7"></div>
                                                </div>
                                            <br>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Approved Guarantees</h4>
                                        <div class="category">Nigerian Customs Service Approved Guarantees</div>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                    <i class="fa fa-circle text-warning"></i> Ref
                                            </div>
                                            <div class="col-md-4">
                                                <div>Bank Name:</div>
                                            </div>
                                            <div class="col-md-4">
                                                <div>Issuance Date:</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>