<div class="wrapper">
        <div class="sidebar" data-background-color="green" data-active-color="danger">
            <sidebar-cmp></sidebar-cmp>
        </div>
        <div class="main-panel">
            <navbar-cmp></navbar-cmp>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                    <div class="header">
                                            <h4 class="title">Upload Bank Guarantees</h4>
                                            <p class="category">You may upload multiple files</p>
                                        </div>
                                        <br>
                                <div class="content">
                                        <input type="file" class="form-control border-input" placeholder="Enter labels and brand images" multiple>
                                        <br>
                                </div>
                                <br>
                            </div>
                            
                            <div class="card">
                                    <div class="header">
                                            <h4 class="title">Edit Banker's Information</h4>
                                            <p class="category">Guarantee Issuing Bank Only</p>
                                        </div>
                                        <br>
                                <div class="content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="bank" class="form-control">Bank Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div><input type="text" class="form-control border-input" placeholder="Enter Name of Bank"></div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <label for="branch" class="form-control">Branch</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div><input type="text" class="form-control border-input" placeholder="Enter Bank Branch"></div>
                                                </div>
                                            </div>
                                    <br>
                                    <div class="row">
                                            <div class="col-md-4">
                                                <label for="account" class="form-control">Account Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div><input type="text" class="form-control border-input" placeholder="Enter Account Name"></div>
                                            </div>
                                        </div>
                                    <br>
                                    <div class="row">
                                            <div class="col-md-4">
                                                <label for="account_number" class="form-control">Account Number</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div><input type="number" class="form-control border-input" placeholder="Enter Account Number"></div>
                                            </div>
                                        </div>
                                    <br>
                                    <div class="text-center">
                                            <button class="btn btn-lg btn-success">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="card">
                                        <div class="header">
                                                <h4 class="title">Banker's Information</h4>
                                                <p class="category">Guarantee Issuing Bank</p>
                                            </div>
                                            <br>
                                    <div class="content">
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-4"><i class="fa fa-circle text-info"></i> Bank Name:</div>
                                                <div class="col-md-7"></div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-4"><i class="fa fa-circle text-info"></i> Branch:</div>
                                                    <div class="col-md-7"></div>
                                                </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-4"><i class="fa fa-circle text-info"></i> Account Name:</div>
                                                    <div class="col-md-7"></div>
                                                </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-4"><i class="fa fa-circle text-info"></i> Account Number:</div>
                                                    <div class="col-md-7"></div>
                                                </div>
                                            <br>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Approved Guarantees</h4>
                                        <div class="category">Nigerian Customs Service Approved Guarantees</div>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                    <i class="fa fa-circle text-warning"></i> Ref
                                            </div>
                                            <div class="col-md-4">
                                                <div>Bank Name:</div>
                                            </div>
                                            <div class="col-md-4">
                                                <div>Issuance Date:</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>