<div class="wrapper">
        <div class="sidebar" data-background-color="green" data-active-color="danger">
            <cacsidebar-cmp></cacsidebar-cmp>
        </div>
        <div class="main-panel">
            <cacnavbar-cmp></cacnavbar-cmp>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            
                            <div class="card">
                                    <div class="header">
                                            <h4 class="title">Search Register</h4>
                                            <div class="category">Excise Traders within Command</div>
                                        </div>
                                        <br>
                                <div class="content">
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <label for="branch" class="form-control">Choose Trader</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div><select name="" id="" class="form-control border-input">
                                                        <option value="1" disabled>Select Excise Trader</option>
                                                        <option value=""  *ngFor="let trader of traders">{{trader}}</option>
                                                    </select></div>
                                                </div>
                                            </div>
                                            <br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="bank" class="form-control">Date</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div><input type="date" class="form-control border-input" placeholder="Enter Month"></div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <label for="branch" class="form-control">Register Type</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div><select name="" id="" class="form-control border-input">
                                                        <option value="1" disabled>Select Type of Register</option>
                                                        <option value=""  *ngFor="let register of registers">{{register}}</option>
                                                    </select></div>
                                                </div>
                                            </div>
                                    <br>
                                    <div class="text-center">
                                            <button class="btn btn-lg btn-success">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>