<div class="wrapper">
    <div class="sidebar" data-background-color="green" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>

    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-warning text-center">
                                                <i class="ti-archive"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>Pending Requests</p>
                                                {{pending}}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-success text-center">
                                                <i class="ti-slice"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>Inspection Ongoing</p>
                                                {{ongoingInspection}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-danger text-center">
                                                <i class="ti-receipt"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>Provisional Approval</p>
                                                {{approved}}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <div class="icon-big icon-info text-center">
                                                <i class="ti-ticket"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <div class="numbers">
                                                <p>Rejected Approvals</p>
                                                {{rejected}}
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" *ngIf = "uploadFile">
                                    <div class="header">
                                        <h4 class="title">Request Entry of Premise</h4>
                                    </div>
                                    <div class="content">
                                            <form [formGroup]='entryForm'>
                                            <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                                <label class="form-control">Entry Type:</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <select name="entry" formControlName="entryType" id="" class="form-control border-input">
                                                                <option value="" disabled>Choose Entry Type</option>
                                                                <option value="{{entry.typename}}" *ngFor = "let entry of entryType">{{entry.typename}}</option>
                                                            </select>
                                                        </div>
                                                     </div>
                                            </div>
                                            <br>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Name of Business:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <input type="text" class="form-control border-input" placeholder=" Enter Name of Business" formControlName="cname">
                                                </div>
                                             </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Registered Address:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <input type="text" class="form-control border-input" placeholder="Enter Registered Address" formControlName="registeredAddress">
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Business Purpose:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <textarea name="" id="" cols="30" rows="4" class="form-control border-input" placeholder="Describe purpose of Business" formControlName="purposeOfBusiness"></textarea>
                                                        
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Business Description:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <textarea name="" id="" cols="30" rows="4" class="form-control border-input" placeholder="Describe your Business" formControlName='descriptionOfBusiness'></textarea>
                                                        
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Building Estimate:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <input type="number" class="form-control border-input" placeholder="Estimate Cost of Building" formControlName="buildingEstimate" >
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Plants and Machinery:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <input type="number" class="form-control border-input" placeholder="Estimate cost of plants and machinery" formControlName="plantsAndMachinery">
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Goods Description:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <input type="text" class="form-control border-input" placeholder="Enter kinds of goods to be produced" formControlName="goodsDescription">
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Factory Completion Date:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <input type="date" class="form-control border-input" placeholder="Enter date factory is expected to be ready for production" formControlName="factoryCompletionDate">
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Raw Materials and Composition Formulae:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <textarea name="" id="" cols="30" rows="4" class="form-control border-input" placeholder="Enter materials to be used and composition of formulae" formControlName="rawMaterialsAndCompositionFormulae" ></textarea>
                                                        
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control form_details">Brand Names:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <textarea name="" id="" cols="30" rows="2" class="form-control border-input" placeholder="Product brand names" formControlName="brandNames"></textarea>
                                                        
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                        <label class="form-control">Brand labels and Images:</label>
                                                </div>
                                                <div class="col-md-8">
                                                        <input type="file" id="brand" class="form-control border-input" placeholder="Enter labels and brand images" (change)="uploadFile()">
                                                        
                                                </div>
                                            </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span><input type="checkbox" name="" id=""> I hereby declare that the foregoing account is true and I undertake to make no alteration to the premises, plant or equipment without prior approval of the Nigerian Customs Service.</span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="text-center">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-lg btn-success" (click)="registerForm41()">Submit</button>
                                                </div>
                                                <div class="col-md-4"></div>
                                            
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                                <div class="reds alert alert-danger text-center" *ngIf='isExist'>{{entryMessage}}</div>
                                        </div>
                                    </div>
                                    </form>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">
                                        Entry of Premises Request Status
                                    </h4>
                                </div>
                                <div class="content">
                                    <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Form Ref</th>
                                                    <th>Business Name</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let form of form41">
                                                    <td class="text-center">{{form.FORMREF}}</td>
                                                    <td class="text-center">{{form.CNAME}}</td>
                                                    <td>{{form.STATUS}}</td>
                                                    <td><button class="btn btn-sm btn-warning btn-icon">View</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
        </div>
    
        </div>
        
    </div>
</div>


   