<app-menubar></app-menubar>
<div class="container-fluid welcome">
  <div class="welcome2">
      
  </div>
</div>


<div class="container mvlogo">
<div class="row">
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-4 logo">
        <div>
          <img src="../assets/img/logo.png" style="height:200px; width:200px;" alt="">
        </div>
      </div>
      <div class="col-xs-8">
          <div class="display-text">
              <div class="text-center">Nigerian Customs Service</div>
              <div class="text-center">Excise Portal</div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>
</div>

<div class="container-fluid ssign">
  <div class="col-xs-6 login">
    <div class="excise">
        <span class="glyphicon glyphicon-record" aria-hidden="true" id="excise"></span>

        <p id="excise2">
          Excise Duty
        </p>
        <p id="excise3">
          A percentage levied on manufacture, sale or use of locally produced goods such as alcoholic drinks, tobacco,soap and detergents, telephone recharge cards and vouchers, toilet papers and facial tisues e.t.c.
        </p>
    </div>
  </div>
  <div class="col-xs-6 signin">
    <div class="excise">
        <span class="glyphicon glyphicon-record" aria-hidden="true" id="exciseDiff3"></span>

        <p id="exciseDiff">
          Excise Regulations
        </p>
        <p id="exciseDiff2">
              Manufacturers of excisable products are required to apply for provisional /Final Approval to Nigeria Customs Service through the supervising Area Command
          </p>
    </div>
  </div>
</div>
