/* You can add global styles to this file, and also import other style files */

.reds {
    background-color: rgb(238, 93, 117);
    color: white;
    border-radius: 5px;
    box-shadow: 5px, 5px, 10px, 10px;
}